body {
    text-align: center;
    background-image: url("400.GIF");
}
.content {
    width: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 0;
    background-color: white;
    border: 2px double blue;
}

h1 {
    margin: 5px;
}
